<div class="slider-wrap">
  <div class="left-back"></div>
  <div class="content-base">
      <button type="button" class="close close-button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <div class="inner-content-pop">
      <div class="left-x">
        <h1> Reach<br>
          Out </h1>
      </div>
      <div class="right-x">
        <form id="demo-form">
          <input type="email" class="form-control"  placeholder="What&acute;s your email?" required>
          <input type="url" class="form-control"   placeholder=" What&acute;s your company URL?" required onblur="checkURL(this)">
          <button type="submit" class="btn-form">Go!</button>

        </form>
      </div>
    </div>
  </div>
</div>
