<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal4Label" aria-hidden="true">
    <div class="modal-dialog lets_go_thanks_popup">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img src="{{ .Site.BaseURL }}img/thanks.png">
          <p>We&acute;ve recived your request and will be in touch</p>
          <img src="{{ .Site.BaseURL }}img/check.PNG">
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<!-- /.modal -->

<section class="footer">
   <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="/"> <img src="{{ .Site.BaseURL }}img/logo.png"></a>
      </div>
      <div class="footer-blocks first">
        <h4 class="footer-title">Solutions</h4>
        <ul class="footer-links">
          <li><a href="/solutions#Marketing_Tech">Marketing Tech & Data Strategy</a></li>
          <li><a href="/solutions#Getting_Started_with_AI">Getting Started with AI/ML</a></li>
          <li><a href="/solutions#Agile_Product_Management">Agile Product Management</a></li>
          <li><a href="/solutions#Help_Hiring_Developers">Help Hiring Developers</a></li>
          <li><a href="/solutions#Getting_Started_with_DevOps">Getting Started with DevOps</a></li>
          <li><a href="/solutions#UI/UX">UI/UX</a></li>
        </ul>
      </div>
      <div class="footer-blocks">
        <h4 class="footer-title">Company</h4>
        <ul class="footer-links">
          <!-- <li><a href="#">Contact Us </a></li> -->
          <li><a href="/company#About_Us">About Us</a></li>
          <li><a href="/company#Technology_Partners">Technology Partners</a></li>
        </ul>
      </div>
      <div class="footer-blocks">
        <h4 class="footer-title">Contact</h4>
        <p>hello@thetao.ai <br>
          <br>
          42 West Street<br>
          Brooklyn, NY 11222</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <p class="footer_bottom_link">Made in NYC &nbsp; <img src="{{ .Site.BaseURL }}img/made.png">  <script type="text/javascript"> var d = new Date(); document.write(d.getFullYear()); </script>
</p>
      </div>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src="{{ .Site.BaseURL }}js/bootstrap.min.js"></script>
<script src="{{ .Site.BaseURL }}js/main.js"></script>
<script src="{{.Site.BaseURL }}js/scrollme.min.js"></script>
