<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal4Label" aria-hidden="true">
    <div class="modal-dialog lets_go_thanks_popup">
      <div class="modal-content">
        <div class="modal-body text-center">
          <img src="{{ .Page.Site.BaseURL }}/img/thanks.png">
          <p>We&acute;ve recived your request and will be in touch</p>
          <img src="{{ .Page.Site.BaseURL }}/img/check.PNG">
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<!-- /.modal -->

<section class="footer">
   <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <a href="/"> <img src="{{ .Page.Site.BaseURL }}/img/logo.png"></a>
      </div>
      <div class="footer-blocks first">
        <h4 class="footer-title">Solutions</h4>
        <ul class="footer-links">
          <li><a href="#">Marketing Tech</a></li>
          <li><a href="#">Getting Started with AI/ML</a></li>
          <li><a href="#">Getting Started with DevOps</a></li>
          <li><a href="#">Hiring Developers</a></li>
          <li><a href="#">Agile Product Management</a></li>
          <li><a href="#">UX/UI</a></li>
        </ul>
      </div>
      <div class="footer-blocks">
        <h4 class="footer-title">Company</h4>
        <ul class="footer-links">
          <!-- <li><a href="#">Contact Us </a></li> -->
          <li><a href="#">About</a></li>
          <li><a href="#">Technology Partners</a></li>
        </ul>
      </div>
      <div class="footer-blocks">
        <h4 class="footer-title">Contact</h4>
        <p>ben@thetao.ai <br>
          <br>
          42 West Street<br>
          Brooklyn, NY 11222</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <p class="footer_bottom_link">Made in NYC &nbsp; <img src="{{ .Page.Site.BaseURL }}/img/made.png">  <script type="text/javascript"> var d = new Date(); document.write(d.getFullYear()); </script>
</p>
      </div>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
<script src='{{ .Page.Site.BaseURL }}/js/bootstrap.min.js'></script>
<script src="{{ .Page.Site.BaseURL }}/js/main.js"></script>
<script src='{{ .Page.Site.BaseURL }}/js/scrollme.min.js'></script>
